* {
    margin: 0;
    padding: 0;
}

body {
    /* min-width: 655px; */
    background-color: rgba(2, 36, 35, 0.148);
}

/* #new-clients-container,
#added-clients-container {
  width: 100%;
  height: auto;
} */

/* .container {
height: 110vh;
overflow-y:auto;
} */
/* 
.client {
    margin: 27px 12px 20px 20px;
} */




.login-container {
    position: absolute;
    right: 22px;


}

h1 {
    text-align: center;
    padding: 2.5%;
}
.new-clients-container {
    display: grid;
    text-align: center;
    margin: 97px 12px 30px 140px;
    width: 300px;
    height: 380px;
    padding: 3%;
    border: 7px outset rgba(19, 92, 92, 0.828);
    border-radius: 1.2em;
    background-color: #4242ea
}

.all-new-clients{

margin: 28px 90px ;
}

fieldset {
    border-color: blue;
    width: auto;
    height: auto;
}
.clients-container {
    position: absolute;
    top: 50px;
    right: 11%;
    width: 500px;
    height: 777px;
    margin: 88px 0px 0px 0px;
    background-color: rgba(253, 180, 9, 0.455);
    border: 8px outset rgba(19, 92, 92, 0.828);
    border-radius: 1em;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3.4px;
}
/* .no-image-option {
    background-image: url("./assets/new_default.jpeg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px; 
} */

h2 {
    text-shadow: 1px 1px 1px rgb(78, 224, 197), 2px 2px 1px rgba(208, 16, 16, 0.882);
}

p {
    em {
        display: block;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "Active";
    height: 23px;
    width: 23px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #082136;
}

input:focus+.slider {
    box-shadow: 0px 1px 1px #051f33;
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
 } */


/* span ,label {

    color:rgb(217, 202, 184)
} */

.create-now,
.occupation {

    font-size: 23px;
    text-shadow: 1px 0px 1px rgba(80, 198, 177, 0.38), 1px 1px 2px rgba(53, 57, 6, 0.348);
}






#added {
    font-size: 32px;
    margin: 5px;
    padding: 2px;
}

#new-1 {
    font-size: 30px;
}

/* html {
    font-family: sans-serif;
  } */

/* div:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
  } */


.contactChoice1 {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 2.3px;
}

.contactChoice1:checked {
    border: 6px solid rgb(20, 16, 16);
}


legend {
    color: white;
    background-color: rgba(108, 62, 72, 0.913);
    padding: 6px;
    border-radius: 2px;
    border: 0;
    font-size: 16px;
}

/* button:hover,
  button:focus {
    color: #999;
  }
  
  button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
  } */

@media (max-width: 600px) {
    body {
        background-color: #f0f0f0;
    }

}


@media (max-width: 758px) {

    #new-clients-container,
    #added-clients-container {
        width: 100%;
        height: auto;
    }
}