* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background-color: rgba(6, 62, 129, 0.609);
    text-transform: uppercase;
    background-image: url('../assets/cnl.jpeg');
    background-size: contain;
    background-blend-mode: color-burn;
}

h1 {
    margin: 20px;
    text-align: center;
}

img {}

h2 {
    text-align: center;
    color: rgb(145, 156, 165);
    text-decoration:overline;
}

nav {
    font-size: medium;
}

video {
    height: 220px;
    width: 280px;
}